{% extends "base.html.twig" %}

{% block title %}Type de Pizza{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" />
    <style>
        .text-green{
            color:white;
            background-color:green;
            width:150px;
            height:40px;
        }
        div[class="container"]{
            width:80%;
        }
        .admin{
            background-color:#dc5a60;
        }
    </style>
{% endblock %}

{% block body %}
<div class="admin">
  <header class="admin__header">
    <a href="/admin" class="logo">
      <h1>Admin</h1>
    </a>
    <div class="toolbar">
      <a href="/logout" class="logout btn btn-warning">
        Log Out
      </a>
    </div>
  </header>
  <nav class="admin__nav">
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="{{ path('admin') }}">Dashboard</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="{{ path('addpizza') }}">Ajouter Pizza</a>
      </li>
      <li class="menu__item">
        <a class="menu__link active" href="{{ path('commande_list') }}">Gérer les Commandes</a>
      </li>
      </li>
    </ul>
  </nav>
  <main class="admin__main">

    <article class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">name</th>
                <th class="text-center">telephone</th>
                <th class="text-center">adresse</th>
                <th class="text-center">Pizza</th>
                <th class="text-center">Etat</th>
                <th class="text-center">action</th>
            </tr>
            </thead>
            <tbody>
            {% for commande in pagination %}
                <tr align="center">
                    <td>
                        {{ commande.nom }}
                    </td>
                    <td>
                        {{ commande.telephone }}
                    </td>
                    <td>
                        {{ commande.adresse }}
                    </td>
                    <td>
                        {% for pizza in commande.getPizzas %}
                            {{ pizza.name }},
                        {% endfor %}
                    </td>
                    <td>
                        {% if commande.status == 1 %}
                            <p class="text-success">traitée</p>
                            {% else %}
                            <p class="text-danger">non traitée</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if commande.status != 1 %}
                                <a href="/admin/commande/valider/{{ commande.id }}" class="btn btn-success">valider</a>
                            {% else %}
                                <a href="/admin/commande/annuler/{{ commande.id }}" class="btn btn-danger">annuler</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      <div class="count">
            il ya {{ pagination.getTotalItemCount }} commandes
        </div>
        <br><br>
        <div class="text-center navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        <br>
        <br>
    </article>

  </main>
  <footer class="admin__footer">
    <ul class="ticker">
      <li class="ticker__item">Welcome {{ app.user.username }}</li>
    </ul>
    <span>
      &copy; 2018 Pizza Inc.
    </span>
  </footer>
</div>

{% endblock %}