<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Projet Pizza | Zouhair Loucif!{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
            <header>
                <h1>Pizza</h1>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-contents">
                        <ul class="nav navbar-nav">
                            <li><a href="/"><i class="glyphicon glyphicon-home"></i> Présentation</a></li>
                            <li><a href="{{ path('pizzas_list') }}"><i class="glyphicon glyphicon-list"></i> Les pizzas</a></li>
                            <li><a href="{{ path('commande_pizzas') }}"><i class="glyphicon glyphicon-usd"></i> Commander</a></li>
                        </ul>

                        <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('admin') }}">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-log-in"></span>
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    </ul>
                {% else %}
                    <div class="navbar-login">
                        <form method="post" action="/login_check">
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" name="_username" placeholder="nom d'utilisateur" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" name="_password" placeholder="Mot de passe" required/>
                            </div>
                            <input type="submit" class="hide" />
                        </form>
                    </div>
                {% endif %}
            </div>
                    </div>
                </nav>
            </header>
            
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>